<div class="app-brandbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <a class="app-brand" href="/">
                    <img class="img-responsive" src="{{ page.base_url }}assets/img/sensemble.png" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <p class="h4 app-brand-claim">
                    LOVE PEACE AND HAPPINESS. Selbstmanagement-Erfolgs-Seminar
                </p>
            </div>
        </div>
    </div>
</div>