<div class="container app-footer" id="app-footer">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <span class="pull-left">
                        &copy; Sensemble-Theater &middot; Made by <a href="http://kreativkombinat.de">KK</a> 
                </span>
            </div>
            
            <div class="col-xs-12 col-lg-4">
                <span class="pull-right"><a href="http://sensemble.de/content/impressum">Impressum</a></span>
            </div>
        </div>
    </div>